<article class="product">
  <%= link_to product do %>
  <div class="imgBx">
    <%= image_tag product.image.thumb, alt: product.name %>
    <ul class="action">
      <li>
        <i class="fa fa-heart" aria-hidden="true"></i>
        <span>Add to Whishlist</span>
      </li>
      <li>
        <%= link_to fa_icon("shopping-cart"), add_item_cart_path(product_id: product.id), method: :post %>
        <span>Add to Cart</span>
      </li>
      <li>
        <%= link_to fa_icon("eye"), product %>
        <span>View Detials</span>
      </li>
    </ul>
  </div>
  <div class="content">
    <div class="productName">
      <p><%= product.name %></p>
    </div>
  <% end %>
    <div class="price_rating">
      <h3><%= humanized_money_with_symbol product.price %></h3>
      <div class="rating">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </div>
    </div>
  </div>




  <!--
  <header>
    <% if product.quantity == 0 %>
      <p class="sold">SOLD OUT<p>
    <% end %>
    <%= link_to product do %>
      <%= image_tag product.image.thumb, alt: product.name %>
      <h4><%= product.name %></h4>
    <% end %>
  </header>
  <p class="description">
    <%= product.description %>
  </p>
  <footer class="actions">
    <%= button_to add_item_cart_path(product_id: product.id), class: 'btn btn-primary' , method: :post do %>
      <%= fa_icon "shopping-cart", text: 'Add' %>
    <% end %>
    <%= link_to product, class: 'btn btn-default pull-right' do %>
      Details &raquo;
    <% end %>
  </footer>

  <aside class="price">
    <%= humanized_money_with_symbol product.price %>
  </aside>
  -->
</article>
